<ol class="list-group">
  <app-item-cv (selectedUser)="getSelectedUser($event)" [user]="users[0]"></app-item-cv>
  <app-item-cv (selectedUser)="getSelectedUser($event)" [user]="users[1]"></app-item-cv>
  <app-item-cv (selectedUser)="getSelectedUser($event)" [user]="users[2]"></app-item-cv>
</ol>
