<div class="row p-1">
  <div class="col-md-6 col-sm-3" >
    <app-list-cv (userSelected)="getUserSelected($event)" [users]="users" ></app-list-cv>
  </div>
  <div class="col-md-6  col-sm-9">
    <app-detail-cv [user]="userSelected"></app-detail-cv>
  </div>
</div>
